<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="https://pemilu2024.kpu.go.id/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Info Publik Pemilu 2024</title>
        <script type="module" crossorigin src="/static/index.3f83bef0.js"></script>
        <link rel="stylesheet" href="/static/index.d1855dfc.css" />
    </head>
    <body>
        <div id="app" translate="no"></div>
    </body>
</html>
